/* You can add global styles to this file, and also import other style files */

html,
body {
  font-family: sans-serif;
}

button {
  margin: 3px;
}

div {
  color: white;
  border-radius: 5px;
  width: 100%;
  padding: 15px;
  text-align: center;
}
